{% extends "index.html" %}

{% block forms %}
{% if user.is_authenticated %}
<h2> Пользователь {{ user }} сейчас в системе! {{ user }} должен выйти из системы, только потом вы можете войти!</h2>
{% else %}
{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="h1">Вход в систему</h1>
{{ error }}
<div class="users">
<form method="POST">
    {% csrf_token %}
    <table>
        {{context}}
        {{ form }}
        {{ error }}
    </table>
    <br><br>
    <input class="button" type="submit" value="Войти">
</form>
</div>
{% endif %}
{% endblock %}