{% extends "index.html" %}

{% block forms %}

{% if messages %}

<ul class="messages">
    {% for messages in messages %}
        <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h1 class="forms">Пользователи</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
        {{ error }}
    </table>

<div><h3>Подразделение</h3>
    <select name="unit" size="1">
        {% for i in unit %}
            <option value="{{ i.UnitName }}">
                {{ i.UnitName }}
            {{ error }}
            </option>
        {% endfor %}
    </select>
    <br>

 </div>

<div><h3>Должность</h3>
    <select name="position" size="1">
        {% for i in pos %}
            <option value="{{ i.PositionName }}">
                {{ i.PositionName }}
            {{ error }}
            </option>
        {% endfor %}
    </select>
    <br>
     <br>
 </div>
    <input type="submit" value="Сохранить" pattern="[А-Яа-я]">
</form>
{% else %}
 <h1 class="users">Форма не доступна не авторизованным пользователям!</h1>

{% endif %}

{% endblock %}
