{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h1 class="h1">Сотрудник</h1>
<div class="users">

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
        {{ error }}
    </table>

<div><h3>Подразделение</h3>
    <select class="option" name="unit" size="1">
        {% for i in unit %}
            <option value="{{ i.UnitName }}">
                {{ i.UnitName }}
            {{ error }}
            </option>
        {% endfor %}
    </select>
    <br>

 </div>

<div><h3>Должность</h3>
    <select class="option" name="position" size="1">
        {% for i in pos %}
            <option alue="{{ i.PositionName }}">
                {{ i.PositionName }}
            {{ error }}
            </option>
        {% endfor %}
    </select>
    <br>
     <br>
 </div>
    <input class="button" type="submit" value="Сохранить" pattern="[А-Яа-я]">
</form>

</div>

{% else %}

<h1 class="users">Форма не доступна не авторизованным пользователям!</h1>

{% endif %}

{% endblock %}
