{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h1 class="h1">Постановка на учет оборудования</h1>
<div class="users">
<form method="POST">
    {% csrf_token %}
<!--    Формирование списка выбора инвентарного номера  -->
    <div><h3>Инвентарный номер</h3>
        <select name="inv" size="5" >
            {% for i in invnum %}
                <option value="{{ i.InvNumber }}">
                    {{ i.InvNumber }}{{ ' - ' }}{{ i.typ.TypesEq }}{{ ' ' }}{{ i.brand.BrandName }}{{ ' ' }}{{ i.model.ModelName }}
                    {{ error }}
                </option>
            {% endfor %}
        </select>

 <div><h3>Пользователь</h3>
    <select name="user" size="5">
        {% for i in user %}
            <option value="{{ i.SurName }}">
                {{ i.SurName}}{{ ' ' }}{{ i.UserName }}{{ ' ' }}{{ i.MidlName}}{{ ' - ' }}{{ i.Unit.UnitName }}{{ ', ' }}{{ i.Position.PositionName }}
            {{ error }}
            </option>
        {% endfor %}
    </select>



    <br>
    <br>
    <input class="button" type="submit" value="Записать">






        </div>
</div>
</form>
</div>
<br>
<br>

{% else %}
   <h1 class="users">Форма не доступна не авторизованным пользователям!</h1>


{% endif %}

{% endblock %}
