{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}

        <h3 class="h1">Будьте внимательны - инвентарный номер следует выбирать для ЭТОГО локального ПК!!!
        Информация собирается для текущего рабочего места!</h3>
        <p class="h1">Проверьте информацию в таблице ниже - и если все верно - подтвердите и запишите данные!</p>

<div class="users">
    <form method="POST">
    {% csrf_token %}

    <select name="invent" size="1">
         {% for i in inv %}
            <option value="{{ i.InvNumber }}">
                {{ i.InvNumber }} {{' - '}} {{ i.typ.TypesEq }}
                {{ error }}
            </option>
        {% endfor %}

    </select>

        <input class="button" type="submit" value="Подтвердить и записать">
        <input type="hidden" name="getnum">
</form>
    </div>

<hr>
<div class="users">
    <h3>Собранная конфигурация этого ПК:</h3>
<table class="getinftable">
    {% for key, value in dt.items %}
    <tr class="gettr">

        <td class="gettd">

            {{ key }}

        </td>

        <td class="gettd">

            {% for i, j in value.items %}
            {{i|linebreaks}}
            {{ j|linebreaks }}
            {% endfor %}
        </td>

    </tr>

           {% endfor %}

</table>
<hr>
<table class="getinftable">
    {% for i in dt %}
    {% for k, v in i.items %}
    <tr class="gettr">
        <td class="gettd">

                {{k}}

                {%endfor%}

            {% endfor %}
        </td>
    </tr>
</table>
</div>

{% else %}
   <h1 class="users">Форма не доступна не авторизованным пользователям!</h1>

{% endif %}

{% endblock %}
