{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if name is null %}
<h2 class="h1">Справочник пользователей пустой!</h2>
{% else %}

<h1 class="h1">Удаление пользователя</h1>
<div class="users">
<form method="POST">
    <h3>Выберите пользователя, которого необходимо удалить:</h3>
    {% csrf_token %}
    <select name="select" size="5">
        {% for i in name %}
    <option value="{{ i }}">
        {{ i }}
        {{ error }}
    </option>
      {% endfor %}
  </select>
    <br>
    <br>
    <br>
    <input class="button" type="submit" value="Удалить">

</form>
</div>

{% endif %}
{% endblock %}
