{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h1 class="h1">Конфигурация ПК</h1>
<div class="users">

<form method="POST">
    {% csrf_token %}
    <div><h3>Выбрать устройство</h3>
        <select name="invent" size="1">
            {% for i in inv %}
            <option value="{{ i.InvNumber }}">
                {{ i.InvNumber }} {{' - '}} {{ i.typ.TypesEq }}
                {{ error }}
            </option>
            {% endfor %}
        </select>
        <table>
            {{ form }}
            {{ error }}
        </table>
        <br><br>
        <input class="button" type="submit" value="Сохранить">
    </div>
</form>
</div>

{% else %}
   <h1 class="users">Форма не доступна не авторизованным пользователям!</h1>


{% endif %}

{% endblock %}
