{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}


<h1 class="forms">Постановка на учет оборудования</h1>
<form method="POST">
    {% csrf_token %}
<!--    Формирование списка выбора инвентарного номера  -->
    <div><h3>Инвентарный номер</h3>
        <select name="inv" size="5" >
            {% for i in invnum %}
                <option value="{{ i.InvNumber }}">
                    {{ i.InvNumber }}
                    {{ error }}
                </option>
            {% endfor %}
        </select>
<!--    Формирование списка выбора типа оборудования    -->
<div><h3>Тип</h3>
    <select name="typeeq" size="5">
        {% for i in typeeq %}
            <option value="{{ i.TypesEq }}">
                {{ i.TypesEq }}
            {{ error }}
            </option>
        {% endfor %}
    </select>
    </div>
</div>

    <br>
    <br>
    <input type="submit" value="Записать">

</form>
<br>
<br>
{% endblock %}
