{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div><h3>Выбрать инвентарный номер, к которому будут привязаны собранные данные</h3>
        <h3>Будьте внимательны - инвентарный номер следует выбирать для ЭТОГО локального ПК!!!
        Информация собирается для текущего рабочего места!</h3>
    <select name="invent" size="1">
         {% for i in inv %}
            <option value="{{ i.InvNumber }}">
                {{ i.InvNumber }} {{' - '}} {{ i.typ.TypesEq }}
                {{ error }}
            </option>
        {% endfor %}

    </select>

        <input type="submit" value="Подтвердить и получить данные">
        <input type="hidden" name="getnum">



    </div>
</form>

<br>
<br>

<hr>
<table>
    {% for key, value in dt.items %}
    <tr>

        <td>

            {{ key }}

        </td>

        <td>

            {% for i, j in value.items %}
            {{i|linebreaks}}
            {{ j|linebreaks }}
            {% endfor %}
        </td>








    </tr>

           {% endfor %}

</table>

<hr>
<table>
    {% for i in dt %}
    {% for k, v in i.items %}
    <tr>
        <td>

                {{k}}

                {%endfor%}



            {% endfor %}
        </td>
    </tr>
</table>
<br>
<br>





<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <div><h3>Выбрать устройство</h3>-->
<!--    <select name="invent" size="1">-->
<!--         {% for i in inv %}-->
<!--            <option value="{{ i.InvNumber }}">-->
<!--                {{ i.InvNumber }} {{' - '}} {{ i.typ.TypesEq }}-->
<!--            {{ error }}-->
<!--            </option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--&lt;!&ndash;    <table>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ form }}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ error }}&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->

<!--    <input type="submit" value="Сохранить">-->
<!--    </div>-->
<!--</form>-->

{% endblock %}
