{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h1 class="h1">Должность</h1>

<div class="users">
    <h3>Введите наименование должности:</h3>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
        {{ error }}
    </table>
    <br><br>
    <input class="button" type="submit" value="Сохранить">

</form>
</div>
{% else %}
 <h1 class="users">Форма не доступна не авторизованным пользователям!</h1>


{% endif %}


{% endblock %}
