{% extends "index.html" %}

{% block forms %}

{% if messages %}
<ul class="messages">
    {% for messages in messages %}
    <li>{{ messages }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="h1">Техника по предприятию</h1>

<div class="users">
<form method="post">
    {% csrf_token %}



    <p><input type="checkbox" value="types" name="types">Сортировка по типу оборудования</p>
    <p><input type="checkbox" value="name" name="name">Сортировка по наименованию оборудования</p>
    <p><input type="checkbox" value="user" name="user">Сортировка по фамилии</p>
    <p><input type="checkbox" value="unit" name="unit">Сортировка по подразделениям</p>


    <input class="button" type="submit" value="Применить">
    <br>

</form>



    <table  class="getinftable">
        <tr class="gettr">
            <th class="gettr">Инвентарный номер</th>
            <th class="gettr">Тип</th>
            <th class="gettr">Наименование</th>
            <th class="gettr">Сотрудник</th>
            <th class="gettr">Должность</th>
            <th class="gettr">Подразделение</th>

        </tr>

                {% for i in data %}
        <tr class="gettr">
            <td  class="gettr">{{ i.Number.InvNumber }}</td>
            <td class="gettr">{{ i.Number.typ.TypesEq }}</td>
            <td class="gettr">{{ i.Number.brand.BrandName }}{{ ' ' }}{{ i.Number.model.ModelName }}</td>
            <td class="gettr">{{ i.User.SurName }}{{ ' ' }}{{ i.User.UserName }}{{ ' ' }}{{ i.User.MidlName }}</td>
            <td class="gettr">{{ i.User.Position.PositionName }}</td>
            <td class="gettr">{{ i.User.Unit.UnitName }}</td>
        </tr>
                {% endfor %}



    </table>

</div>



{% endblock %}
