<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_data.css' %}">

</head>
<body>


</div>

<div class="wrap">

    <div>
        <img src="{% static 'img/ani.gif' %}" height="90px" alt="gif">
    </div>

    <div class="one"><p class="topmenu"><a href="/">Главная</a></p></div>

    <div class="one"><p class="topmenu">Заполнение справочников</p>
        <div class="two">
            
            <li><a class="menu" href="/input_data/form_tabs">Типы, производители и модели </a></li>
            <li><a class="menu" href="/input_data/add_unit">Подразделения </a></li>
            <li><a class="menu" href="/input_data/add_position">Должности </a></li>
            <li><a class="menu" href="/input_data/form_users">Регистрация нового пользователя </a></li>
            <li><a class="menu" href="/input_data/delete_user">Удалить пользователя </a></li>
                
        </div>
        </div>

    <div class="one"><p class="topmenu">Работа с оборудованием</p>
        <div class="two">
            <li><a class="menu"  href="/input_data/equip_add">Регистрация нового оборудования</a></li>
            <li><a class="menu"  href="/input_data/equipments">Передача оборудования пользователю</a></li>
            <li><a class="menu"  href="/input_data/conf_comp">Внесение конфигурации вручную</a></li>
            <li><a class="menu"  href="/input_data/conf_auto">Внесение конфигурации скриптом</a></li>
            <li><a class="menu"  href="/input_data/conf_as_file">Внесение конфигурации из файла</a></li>
        </div>
        </div>

    <div class="one"><p class="topmenu">Отчеты</p>
        <div class="two">
            <li><a class="menu" href="/input_data/get_all_data">Вся техника по складу</a></li>
        </div>
        </div>    
    
       
          
    <div class="log_in_out">    

            {% if user.is_authenticated %}
            <div><p class="menu">{{ user.get_username }} сейчас в системе &nbsp</p></div>
            <div><p><a href="{% url 'logout' %}">Выйти</a></p></div>
            {% else %}
      

            <div><p><a href="{% url 'register' %}">Регистрация &nbsp</a></p></div>

            <div><p><a href="{% url 'login' %}"> Войти</a></p></div>
            {% endif %}
        
    </div>

  

</div>

    

{% block welkome %}

{% if user.is_authenticated %}
    <h3>Добро пожаловать в систему {{ user.get_username }} ! </h3>
    <h3><a href="{% url 'logout' %}">Выйти</a></h3>
{% else %}
    <div class="warn">
        <h3>Вы не вошли в систему! Функции для работы со справочниками доступны только зарегестрированным пользователям!</h3>
        

    </div>    

    
{% endif %}

{% endblock %}

<div class="content">
{% block content %}

{% endblock %}
</div>

{% block forms %}

{% endblock %}

</body>
</html>